<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="${user.getName + ' ' + user.getSecondName}"></p>
<p th:text="${user.getAge}"></p>
<p th:text="${test}">internal error</p>
</br>
<p th:text="${path}"></p>
</br>
<p>Пути</p>
<tr th:each="image : ${allImages}">
    <img th:src="@{/src/} + ${image}" alt="${image}" width="200" height="200">
    </br>
</tr>
<tr th:each="song : ${allSongs}">
    <audio th:src="@{/src/} + ${song}" controls></audio>
    </br>
</tr>
<tr th:each="video : ${allVideos}">
    <video th:src="@{/src/} + ${video}" controls></video>
    </br>
</tr>
<a th:href="@{/image/new}">Загрузить фото</a>
</br>
<a th:href="@{/music/new}">Загрузить песню</a>
</br>
<a th:href="@{/video/new}">Загрузить видео</a>
</br>
</body>
</html>